
.DS_Store
*.log
/coverage
/.changelog
/node_modules
node_modules
/packages/**/node_modules
/packages/**/lib

/docs/node_modules
/lerna-debug.log
tsconfig.tsbuildinfo
coverage/
docs/storybook-static
/packages/**/tsconfig.tsbuildinfo